---
layout: default
---

<div class="home">
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Min</th>
      <th>Max</th>
      <th>Requires</th>
      <th>Time</th>
      <th>Type</th>
    </tr>
    {% for post in site.posts %}
      <tr>
        <td><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></td>
        <td>{{ post.min_p | escape }}</td>
        <td>{{ post.max_p | escape }}</td>
        <td>
        {% for requirement in post.requires %}
          {{ requirement  | escape }}
        {% endfor %}
        </td>
        <td>{{ post.time | escape }}</td>
        <td>
        {% for type in post.tags %}
          {{ type  | escape }}
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
